@CHARSET "UTF-8";

body {
	opacity: 1;
	margin-left: 0;
}

.cl-mcont {
	padding-top: 1%;
	padding-left: 10%;
}

.fast_icon {
	margin: 1% 3%;
	float: left;
	width: 130px; 
	height: 130px;
}

.icon_title {
	position: relative;
	top: 90%;
	left: 20%;
}

.fast_icon:HOVER {
	cursor: pointer;
}