@CHARSET "UTF-8";

.form-horizontal.group-border-dashed .form-group {
	padding: 10px 0;
}

.md-modal {
	width: 80%;
	min-width: 600px;
	max-width: 800px;
}

.input-linespace {
	margin: 5px 0;
}

#md-scale {
	height: 590px;
	overflow: hidden;
}

.form-horizontal .control-label {
	padding-top: 11px;
}

#scanerbox {
	float: left;
	margin-left: 50px;
	line-height: 26px;
	margin-top: 4px;
	width: 500px;
	border: 0 none;
}