@CHARSET "UTF-8";

#maincontent {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border: 0 none;
	margin: 0;
	padding: 0;
}

#co-name {
	width: 400px;
}

#current-username {
	margin-left: 10px;
}

.sub-menu li {
	cursor:pointer;
}

#menu-oper {
	line-height: 30px;
	vertical-align: middle;
	margin-right: 25px;
}

.fixed-menu #menu-oper {
	display: inline;
}

#unreadedMessage,.sb-collapsed #menu-oper {
	display: none;
}

#cl-wrapper {
	padding-top: 56px;
}

#pendingWorkNumber {
	position: absolute;
	top: 6px;
	left: 122px;
	background-color: #e44c34;
	color: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border-color: #E23923 #D83722 #C0311E;
	border-left: 1px solid #D83722;
	border-width: 1px;
	box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.25);
	padding: 1px 3px 1px 2px;
	font: bold 9px Tahoma;
}

#readAllMsgButton {
	background-color: #e64d35;
	color: #fff;
}
